body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.container{
    font-size: 6px;
    width: 40em;
    height: 40em;
    position: relative;
}

img {
    height: 130%;
    width: 130%;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 128, 0);
    animation: orbit 50s linear infinite;
}


.mercury,.venus,.earth,.moon,.mars,.jupiter,.saturn,.uranus,.neptune,.pluto{
    position: absolute; 
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-radius: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.mercury{
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 50s linear infinite;
}

.venus{
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 50s linear infinite;
}

.mercury{
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em;
    animation: orbit 50s linear infinite;
}

.mercury{
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 50s linear infinite;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

